.limiter {
    width: 100%;
    margin: 0 auto;
  }

  .container-login {
    max-width: 100%;  
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: var(--color-primary);
  }

  .box-login {
    position: absolute;
    width: 429px;
    height: 640px;
    left: 506px;
    top: 192px;

    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 16px
  }

  .box-title {
    text-align: center;
    padding: 30px 25px;
  }

  .box-body {
    margin: 20px 0;
    background-color: white;
    padding: 30px 25px;
    border-radius: 5px;
  }

  .btn-choose {
    cursor: pointer;
    display: block;
    min-width: 300px;
    border: none;
    background-color: var(--color-primary-darker);
    color: white;
    border-radius: 25px;    
    margin: 20px auto;
    padding: 7px;
  }

  .btn-login {
    cursor: pointer;
    display: block;
    min-width: 120px;
    border: none;
    background-color: var(--color-primary-darker);
    color: white;
    border-radius: 25px;    
    margin: 20px 115px;
    padding: 7px;
  }