#page-main {
  position: absolute;
  width: 100%;/*1440px;*/
  height: 100%;/*1024px;*/
  left: 0px;
  top: 0px;

  background: #A1DEEC;

  justify-content: center;
}

#page-main .box-subscribe{
  position: absolute;
  width: 429px;
  height: 640px;
  left: 506px;
  top: 192px;

  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
}

#page-main .box-subscribe .box-title {  
  position: absolute;
  width: 100%;  
  height: 50px;
  padding: 2.4rem;
}

#page-main .box-subscribe .box-title .text-title {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #000000;
}

#page-main .box-subscribe .box-body {  
  position: absolute;
  width: 100%;  
  padding: 9.4rem 4rem;
}


#page-main .box-subscribe .symbol-input100 {

  position: absolute;
  left: 10.69%;
  right: 57.64%;
  top: 38.28%;
  bottom: 59.38%;

  /*font-size: 15px;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  position: absolute;
  border-radius: 25px;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-left: 35px;
  pointer-events: none;
  color: #666666;

  margin-left: 54px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;*/
}

#page-main .box-subscribe .input100:focus + .focus-input100 + .symbol-input100 {
  color: var(--color-primary);/*#57b846;*/
  padding-left: 28px;  
}  

#page-main .box-subscribe .box-footer {
  position: absolute;
  width: 100%;  
  padding: 20.4rem 4rem;
  border: solid 1px black;
}

#page-main .box-subscribe footer {
  /*padding: 4rem 2.4rem;
  background: var(--color-box-footer);
  border-top: 1px solid red;
  margin-top: 6.4rem;*/
  left:0;
  bottom: 0;
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 4.4rem 4rem;
  justify-content: center;
  align-items: center;
  /*padding: 10px 24px;*/
}

#page-main .box-subscribe footer button {  
  position: relative;
  width: 129px;
  height: 44px;
  background: #1BBADD;
  border-radius: 40px;
  color: var(--color-button-text);
  cursor: pointer;
}

#page-main .box-subscribe button:hover {
  background-color: var(--color-primary);
  color: var(--color-primary-dark);
}

/*#page-subscribe {
  width: 100vw;
  height: 100vh;
}

#page-subscribe main {
  background: var(--color-box-base);
  width: 100%;
  max-width: 74rem;
  border-radius: 0.8rem;
  margin: -3.2rem auto 3.2rem auto;
  padding-top: 6.4rem;
  overflow: hidden;
}

#page-subscribe main fieldset {
  border: 0;
  padding: 0 2.4rem;
}

#page-subscribe main fieldset + fieldset {
  margin-top: 6.4rem;
}

#page-subscribe main fieldset legend {
  font: 700 2.4rem Archivo;
  color: var(--color-text-title);
  margin-bottom: 2.4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 1.6rem;
  border-bottom: 1px solid var(--color-line-in-white);
}

#page-subscribe main fieldset legend button {
  background: none;
  border: 0;
  color: var(--color-primary);
  font: 700 1.6rem Archivo;
  cursor: pointer;
  transition: color 0.2s;
}

#page-subscribe main fieldset legend button:hover {
  color: var(--color-primary-dark);
}

.limiter {
    width: 100%;
    margin: 0 auto;
  }

  .container-subscribe {
    max-width: 100%;  
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: var(--color-primary);
  }

  .box-subscribe {
    position: absolute;
    width: 429px;
    height: 640px;
    left: 506px;
    top: 192px;

    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 16px
  }*/