#page-main {
    
    width: 100%;/*1440px;*/
    height: 100%;/*1024px;*/

    margin: auto;    
  
    background: #A1DEEC;
  
    justify-content: center;
    align-items: center;
    flex:1;
  }
  
  #page-main .box-users{
    width: 80%;
    height: 80%;
    margin: 0;
    position: relative;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
  }
  
  #page-main .box-users .box-title {  
    position: absolute;
    width: 100%;  
    height: 50px;
    padding: 2.4rem;
    justify-content: left;
  }
  
  #page-main .box-users .box-title .text-title {    
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    text-align: left;
    color: #000000;
  }
  
  #page-main .box-users .box-body {    
    position: relative;
    width: 90%;
    height: 80%;
    padding: 9.4rem 4rem;

    left: 5.52%;
    right: 4.41%;
    top: 13.69%;
    bottom: 8.69%;

    background: #FFFFFF;
    border: 2px solid #A1DEEC;
    box-sizing: border-box;
    border-radius: 16px 40px 40px 40px;
  }

  #page-main .box-users .box-body .search {
    width: 50%;
    top: 0%;
    left: 0%;
  }

  #page-main .box-users .box-body table {
    width: 100%;    
    text-align: center;
  }

  #page-main .box-users .box-body table tr{
    height: 5.6rem;
    margin-top: 0.8rem;
    border: 1px solid black;
    padding: 0 1.6rem;
    /*border-bottom: 2px solid var(--color-primary);*/
    border: solid 1px black;
  }

  #page-main .box-users .box-body table tr a{
    cursor: pointer;
  }

  #page-main .box-users footer button {
  
    cursor: pointer;
    position: relative;
    width: 129px;
    height: 44px;
    background: #1BBADD;
    border-radius: 40px;
    color: var(--color-button-text);
  }
  
  #page-main .box-subscribe button:hover {
    background-color: var(--color-primary);
    color: var(--color-primary-dark);
  }